body{
    background-color:rgb(75,74,74);
    color: antiquewhite;
}

.jumbo-color {
    background-color:rgb(83,81,82);
}

.form-control{
    background-color: rgb(177, 168, 168);
}


.btnnn{
    background-color: rgb(177, 168, 168)
}

.tablecolor2{
    background-color: rgb(148, 142, 147)
}

.tablecolor1{
    background-color: rgb(177, 168, 168)
}